body {
    color: #333;
}

header h1 {
    color: #333;
}

header h2 {
    color: #333;
}

header .profession {
    color: #8a1f41;
}

header .contact-info i {
    color: #8a1f41;
}

h2, h3 {
    color: #8a1f41;
    border-bottom-color: #8a1f41;
}

#skills li {
    background: #8a1f41;
    color: #fff;
}

.resume-info {
    background-color: #8a1f41;
    color: #fff !important; 
}

.resume-info h2, h3 {
    color: #fff !important; 
    border-bottom-color: #fff;
}

.resume-data {
    background-color: #fff;
    color: #333;
}