body {
    font-family: 'Arial', sans-serif;
    background-color:  #fff;
    color: #333;
    margin: 40px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #3498db;
}

section {
    padding: 20px;
}

img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.education, .experience, .projects {
    margin-left: 20px;
}

#contact ul {
    padding-left: 20px;
}

#contact li {
    display: inline-block;
    margin-right: 20px;
}

#experience ul li ul {
    list-style-type: disc;
    margin-left: 40px;
}

#experience ul li ul li {
    background: none;
    padding: 0;
    border: none;
    margin: 5px 0;
    border-radius: 0;
}