<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{professionalInfo.name}} - Full Stack Developer CV</title>
</head>
<body>

    <header>
        <!-- <img src="{{professionalInfo.picturePath}}" alt="Your Name" /> -->
        <h2>{{professionalInfo.name}}</h2>
        <p class="profession">{{professionalInfo.career[lang]}}</p>
        <div class="contact-info">
            <ul>
            {% for contactInfo in professionalInfo.contacts %}
            <li>{{contactInfo.value}}</li>
            {% endfor %}
            </ul>
        </div>
    </header>

    <section id="education">
        <h3>{{sectionConfig.formation[lang]}}</h3>
        <ul>
            {% for institution in professionalInfo.formation %}
            <li>
                <strong>{{institution.degree}}</strong> - {{institution.educationalInstitution}}
                <span class="education"> | {{institution.endDate}}</span>
            </li>
            {% endfor %}

            {% for certification in professionalInfo.certification %}
            <li>
                <strong>{{certification.title}}</strong> - {{certification.educationalInstitution}}
                <span class="education"> | {{certification.certificationDate}}</span>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section id="skills">
        <h3>{{sectionConfig.skills[lang]}}</h3>
        <ul>
            {% for skill in professionalInfo.skills %}
            <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="experience">
        <h3>{{sectionConfig.workHistory[lang]}}</h3>
        <ul>
          {% for employ in employmentHistory %}
          <li>
            <strong>{{employ.position[lang]}}</strong> - {{employ.client}}
            <span class="experience"> | {{employ.dateRange[lang]}}</span>
            <ul>
              {% for function in employ.functions %}
              <li>{{function[lang]}}</li>
              {% endfor %}
            </ul>
          </li>
          <br>
          {% endfor %}
        </ul>
    </section>

    <!-- <section id="projects">
        <h2>Projects</h2>
        <ul>
            <li>
                <strong>Project Name</strong>
                <span class="projects"> | Technologies Used: React, Node.js, MongoDB</span>
                <ul>
                    <li>Description of the project and your role in it.</li>
                </ul>
            </li>
        </ul>
    </section> -->

    <section id="references">
        <h3>{{sectionConfig.references[lang]}}</h3>
        <ul>
          {% for reference in professionalInfo.references %}
          <li>
              <strong>{{reference.contactName}}</strong> - {{reference.position}} {{reference.company}}
              <ul>
                <li>{{reference.phoneNumber}}</li>
                <li>{{reference.email}}</li>
              </ul>
          </li>
          <br>
          {% endfor %}
        </ul>
    </section>

</body>
</html>