<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{professionalInfo.name}} - Full Stack Developer CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>

  <header>
    <!-- <img src="{{professionalInfo.picturePath}}" alt="Your Name" /> -->
    <h2>{{professionalInfo.name}}</h2>
    <p class="profession">{{professionalInfo.career[lang]}}</p>
    <div class="contact-info">
      {% for contactInfo in professionalInfo.contacts %}
      <span><i class="{{contactInfo.icon}}">&#32;</i>{{contactInfo.value}}</span>
      <br>
      {% endfor %}
    </div>
  </header>

  <section id="profile">
    <h3>{{sectionConfig.profile[lang]}}</h3>
    <p>
    {{professionalInfo.profileSummary[lang]}}
    </p>
  </section>

  <section id="skills">
    <h3>{{sectionConfig.skills[lang]}}</h3>
    <ul>
        {% for skill in professionalInfo.skills %}
        <li>{{skill}}</li>
        {% endfor %}
    </ul>
  </section>

  <!-- <section id="projects">
    <h2>Projects</h2>
    <ul>
      <li>
        <strong>Project Name</strong>
        <span class="projects"> | Technologies Used: React, Node.js, MongoDB</span>
        <ul>
          <li>Developed full-stack features for user management.</li>
        </ul>
      </li>
    </ul>
  </section> -->

  <section id="experience">
    <h3>{{sectionConfig.workHistory[lang]}}</h3>
    <ul>
      {% for employ in employmentHistory %}
      <li>
        <!-- <span></span> -->
        <div class="double-column">
          <div class="main-text">
            <span><strong>{{employ.position[lang]}}</strong>&ensp;{{employ.client}}
              {% if employ.outSourcing %}
              &ensp;&#124;&ensp;{{employ.company}}
              {% endif %}
            </span>
          </div>
          <div class="right-text">
            <span class="experience">
              <i class="fa-solid fa-calendar-days">&ensp;</i>{{employ.dateRange[lang]}}
              &emsp;
              <i class="fas fa-location-dot">&ensp;</i>
              {% if employ.workModel == "hybrid" %}
              Hibrido
              {% elif employ.workModel == "remote"%}
              Remoto
              {% elif employ.workModel == "on-site"%}
              Oficina
              {% endif %}
            </span>
          </div>
        </div>
        <ul>
          {% for function in employ.functions %}
          <li>{{function[lang]}}</li>
          {% endfor %}
        </ul>
      </li>
      <br>
      {% endfor %}
    </ul>
  </section>

  <section id="certification">
    <h3>{{sectionConfig.certification[lang]}}</h3>
    <ul>
      {% for certification in professionalInfo.certification %}
      <li>
        <div class="double-column">
          <div class="main-text">
            <span><strong>{{certification.title}}</strong>&#32;&#45;&#32;{{certification.educationalInstitution}}</span>
          </div>
          <div class="right-text">
            <span><i class="fa-solid fa-calendar-days">&ensp;</i>{{certification.certificationDate}}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="education">
    <h3>{{sectionConfig.formation[lang]}}</h3>
    <ul>
      {% for institution in professionalInfo.formation %}
      <li>
        <div class="double-column">
          <div class="main-text">
            <span><strong>{{institution.degree}}</strong>&ensp;&#45;&ensp;{{institution.educationalInstitution}}</span>
          </div>
          <div class="right-text">
            <span><i class="fa-solid fa-calendar-days">&ensp;</i>{{institution.endDate}}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="lenguages">
    <h3>{{sectionConfig.languages[lang]}}</h3>
    <ul>
      {% for language in professionalInfo.languages %}
      <li>
          <strong>{{language.language}}</strong>&ensp;&#45;&ensp;{{language.level}}
          {% if language.certified %}
          <span>&ensp;&#124;&ensp;{{language.certificationName}}</span>
          {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="references">
    <h3>{{sectionConfig.references[lang]}}</h3>
    <ul>
      {% for reference in professionalInfo.references %}
      <li>
          <strong>{{reference.contactName}}</strong>&ensp;{{reference.position}}&ensp;&#124;&ensp;{{reference.company}}
          <ul>
            {% if reference.phoneNumber != "" %}
            <li><span><i class="fas fa-phone">&ensp;</i>{{reference.phoneNumber}}</span></li>
            {% endif %}
            {% if reference.email != "" %}
            <li><span><i class="fas fa-envelope">&ensp;</i>{{reference.email}}</span></li>
            {% endif %}
          </ul>
      </li>
      <br>
      {% endfor %}
    </ul>
  </section>

</body>
</html>
