body {
    color: #333;
    background-color:  #fff!important;
}

.job-title strong {
    color: grey!important;
}

.titulo-con-linea hr {
    border-top-color: #3498db!important;
}

.main-list {
    color: #333!important;
}

.inline-list {  
    color: #333!important;
}
