<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>CV María José González</title>
  <link rel="stylesheet" href="basic.css" />
</head>
<body>

<header>
  <h1>María José González</h1>
  <p class="job-title"><strong>Especialista en gestión de proyectos</strong></p>
  <div class="contact-info">
    <p>Teléfono: 655 78 87 89</p>
    <p>Email: mariajosegonzalez@gmail.com</p>
  </div>
</header>

<section>
  <div class="titulo-con-linea">
    <h2>Resumen Profesional</h2>
    <hr />
  </div>
  <p>
    Profesional con más de 20 años de experiencia en el área de la gestión de proyectos relacionados al sector de finanzas (Santander) y Administración pública, concretamente en el área de sanidad trabajando para el Gobierno de Madrid.<br>
    Amparada por una amplia preparación técnica, con gran disponibilidad de aprendizaje sobre temas en las nuevas tecnologías, las nuevas formas de organización (Management 3.0), sin dejar de lado el conocimiento y experiencia previa acumulada.<br>
    Beneficio de una gran capacidad de observación, autodiagnóstico y orientación al cliente, que me permite generar sólidas soluciones, intento hacerlo siempre desde una mirada de servicio, equilibrio entre lo técnico y el equipo humano.<br>
    Me considero una persona motivada por el trabajo en equipo fruto de la cooperación, el diálogo abierto y el respeto entre las personas.<br>
    Siempre inquieta, curiosa, motivada por las personas a través de la empatía y cercanía. Cada proyecto me desafía y me aporta.
  </p>
</section>

<section>
  <div class="titulo-con-linea">
    <h2>Habilidades Funcionales</h2>
    <hr />
  </div>
  <ul>
    <li>Gestión de proyectos integrales</li>
    <li>Valoración económica</li>
    <li>Resolución de problemas técnicos</li>
    <li>Integración de herramientas</li>
    <li>Linux y Windows, Cloud Services</li>
    <li>Servidor de base de datos</li>
    <li>Metodología Ágil (SCRUM)</li>
    <li>Habilidades comunicativas y de interlocución</li>
    <li>Proactividad y dinamismo</li>
    <li>Trabajo en equipo</li>
  </ul>
</section>

<section>
  <div class="titulo-con-linea">
    <h2>Selección de Logros Profesionales</h2>
    <hr />
  </div>
  <ul class="lista-principal">
    <li>En Gobierno de Madrid, responsable tanto a nivel técnico como de coordinación de proyectos cruciales para la Admón.</li>
    <li><strong>Proyectos destacados Gobierno de Madrid</strong></li>
	<ul class="sublista">
		<li><strong>Campaña de Prevención 2012:</strong> Migración de toda la infraestructura a Server 2012, instalación de nuevas aplicaciones, renovación tecnológica.</li>
		<li><strong>Receta Electrónica:</strong> Implantación desde 0 de la infraestructura y servicios de Receta Electrónica. Integración con resto de sistemas de Sanidad Madrid.</li>
	</ul>
  </ul>
</section>

<section>
  <div class="titulo-con-linea">
    <h2>Experiencia Profesional</h2>
    <hr />
  </div>
  <p><strong>Santander (Indra)</strong> – <span class="job-title">Madrid, 01/12 – Actualidad</span></p>
  <p><strong>Dept. C Solutions & Corporate Investing Banking Engineering - Technical Solutions</strong></p>
  <p>Actualmente soy consultora TIC para múltiples áreas en Santander, donde he participado en proyectos de infraestructura, desarrollo, implantación y mantenimiento. Este entorno está formado por 25 personas, formando parte de un subgrupo de 5 personas dedicado a la arquitectura.</p>

  <p><strong>Gestión de responsabilidades principales:</strong></p>
  <ul>
    <li>Gestión de proyectos integrales, así como la consultoría, la elaboración de documentación técnica y funcional.</li>
    <li>Evaluación de nuevas tecnologías, rediseño de arquitecturas y consolidación de servidores.</li>
    <li>Automatización de procesos.</li>
    <li>Elaboración de análisis de mejoras desde el punto de vista técnico.</li>
  </ul>

  <p><strong>Otros logros:</strong></p>
  <ul>
    <li>Definición, entrega e integración de entre 10 - 15 proyectos simultáneos para distintos equipos dentro de Santander.</li>
    <li>Evaluación técnica de arquitecturas tecnológicas según necesidades de negocio y su viabilidad de implementación.</li>
    <li>Automatización de procesos en sistemas: Calcular los tamaños necesarios en disco para migración a Oracle.</li>
    <li>Implementación de mejoras en migración de servidores, verificación de requisitos, conexiones, dependencias.</li>
    <li>Gestión de entorno de preproducción, análisis de impacto y de mejoras para aplicaciones con base de datos Oracle.</li>
    <li>Generación de documentación técnica, cronograma de actividades, gestión de dependencias, y validaciones.</li>
    <li>Atención y soporte al cliente interno, análisis de alcance, alta capacidad para resolver problemas y resolución de conflictos.</li>
  </ul>
</section>

</body>
</html>