<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>CV</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <!-- <link rel="stylesheet" href="basicATS.css" /> -->
</head>
<body>

<header>
  <h1>{{professionalInfo.name}}</h1>
  <p class="job-title"><strong>{{professionalInfo.career[lang]}}</strong></p>
  <div class="contact-info">
      {% for contactInfo in professionalInfo.contacts %}
      <span><i class="{{contactInfo.icon}}"></i> {{contactInfo.value}}</span>
      <br>
      {% endfor %}
  </div>
</header>

<section>
  <h2>Resumen Profesional</h2>
  <p>
   {{professionalInfo.profileSummary[lang]}}
  </p>
</section>

<section>
  <h2 class="sectionTitle">Habilidades Funcionales</h2>
  <ul class="inline-list">
    {% for skill in professionalInfo.skills %}
    <li><span class="li-bullet">&bull;&ensp;</span>{{skill}}</li>
    {% endfor %}
  </ul>
</section>

{% if professionalInfo.goals %}
<section>
  <h2 class="sectionTitle">Selección de Logros Profesionales</h2>
  <ul class="lista-principal">
    {% for goal in professionalInfo.goals %}
    <li>{{goal[lang]}}</li>
    {% endfor %}
    <!-- <li><strong>Proyectos destacados Gobierno de Madrid</strong></li>
	<ul class="sublista">
		<li><strong>Campaña de Prevención 2012:</strong> Migración de toda la infraestructura a Server 2012, instalación de nuevas aplicaciones, renovación tecnológica.</li>
		<li><strong>Receta Electrónica:</strong> Implantación desde 0 de la infraestructura y servicios de Receta Electrónica. Integración con resto de sistemas de Sanidad Madrid.</li>
	</ul> -->
  </ul>
</section>
{% endif %}

<section>
  <h2 class="sectionTitle">Experiencia Profesional</h2>
  {% for employ in employmentHistory %}
  <div class="double-column">
    <div class="main-text">
      <span><strong>{{employ.client}}</strong>
        {% if employ.outSourcing %}
        &ensp;{{employ.company}}
        {% endif %}
      </span>
    </div>
    <div class="right-text">
      <span>
        <strong>
        {% if employ.workModel == "hybrid" %}
        Hibrido
        {% elif employ.workModel == "remote"%}
        Remoto
        {% elif employ.workModel == "on-site"%}
        Oficina
        {% endif %}
        &#44;&ensp;{{employ.dateRange[lang]}}
      </strong>
      </span>
    </div>
  </div>
  <span><strong>{{employ.position[lang]}}</strong>
  <ul>
    {% for function in employ.functions %}
    <li>{{function[lang]}}</li>
    {% endfor %}
  </ul>
  <br>
  {% endfor %}
</section>

{% if professionalInfo.certification %}
<section>
  <h2 class="sectionTitle">Certificados</h2>
  {% for certification in professionalInfo.certification %}
  <div class="double-column">
    <div class="main-text">
      <span><strong>{{certification.title}}</strong></span>
    </div>
    <div class="right-text">
      <span><strong>{{certification.educationalInstitution}}&#44;&ensp;{{certification.certificationDate}}</strong></span>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}

<section>
  <h2 class="sectionTitle">Educación</h2>
  {% for institution in professionalInfo.formation %}
  <div class="double-column">
    <div class="main-text">
      <span><strong>{{institution.degree}}</strong></span>
    </div>
    <div class="right-text">
      <span><strong>{{institution.educationalInstitution}}&#44;&ensp;{{institution.endDate}}</strong></span>
    </div>
  </div>
  {% endfor %}
</section>

{% if professionalInfo.languages %}
<section>
  <h2 class="sectionTitle">Lenguajes</h2>
  {% for language in professionalInfo.languages %}
  <div class="double-column">
    <div class="main-text">
      <span><strong>{{language.language}}</strong></span>
    </div>
    <div class="right-text">
      <span><strong>{{language.level}}
        {% if language.certified %}
        &#44;&ensp;{{language.certificationName}}
        {% endif %}
      </strong></span>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if professionalInfo.references %}
<section>
  <h2 class="sectionTitle">Referencias</h2>
  {% for reference in professionalInfo.references %}
  <span><strong>{{reference.contactName}}</strong>&ensp;{{reference.position}}&ensp;&#124;&ensp;{{reference.company}}</span>
  {% if reference.phoneNumber != "" %}
  <p>{{reference.phoneNumber}}</p>
  {% endif %}
  {% if reference.email != "" %}
  <p>{{reference.email}}</p>
  {% endif %}
  <br>
  {% endfor %}
</section>
{% endif %}

</body>
</html>