body {
  font-family: "calibri", "arial", sans-serif;
  margin: 40px;
}

header {
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 28px;
}

h2 {
  margin-top: 30px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

section {
  margin-top: 20px;
}

.contact-info {
  margin-top: 10px;
}

.contact-info p {
  margin: 4px 0;
}

.job-date {
  display: block;
  text-align: right;
}

.main-list {
  list-style-type: disc;
  padding-left: 20px;
}

.sub-list {
  list-style-type: circle;
  padding-left: 20px;
  font-size: 0.9em;
}

.inline-list li {
  display: inline-block;
  width: 250px;
}

.inline-list {
  list-style-type: none;
  padding-left: 20px;
}

.li-bullet {
  font-size: larger;
}

.sectionTitle {
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.double-column {
  position: relative;
  height: 1.5em;
  padding-bottom: 5px;
}

.main-text {
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.right-text {
  position: absolute;
  right: 0;
  white-space: nowrap;
}