body {
    color: #333;
    background-color:  #fff;
}

.job-title strong {
    color: grey;
}

.titulo-con-linea hr {
    border-top-color:  #3498db;
}

.main-list {
    color: #333;
}

.inline-list {  
    color: #333;
}